body {
  font-family: $font-default;
  font-weight: $font-weight-default;
  color: $default-color;
}

h1, h2, h3, h4, h5 {
  font-family: $font-title;
  margin-bottom: .7rem;
}

h2 {
  font-weight: $font-weight-bold;
  font-size: 1.8rem;
}

h3 {
  font-weight: $font-weight-bold;
}

.bold {
  font-weight: $font-weight-bold;
}
.uppercase {
  text-transform: uppercase;
}
