body {
  font-family: $font-default;
  font-weight: $font-weight-default;
}

h1, h2, h3, h4, h5 {
  font-family: $font-title;
}

h2 {
  font-weight: $font-weight-bold;
  font-size: 1.6rem;
}

.bold {
  font-weight: $font-weight-bold;
}
