.view--last_editorial--block_1 {
  .more-link {
    a {
      display: block;
      text-align: center;
    }
  }
}


// The episodes view.
.view-grid-episodes {
  margin-bottom: 70px;

  .c-episode-teaser {
    margin-bottom: 15px;
  }
}

.grid-filters {
  display: flex;
  margin-bottom: 25px;

  a[data-filter] {
    @include button(true, theme-color('primary'), true);

    &.is-checked {
      @include button(false, theme-color('primary'), true);
    }
  }

  .views-row+.views-row {
    margin-left: 15px;
  }
}

// The seasons list.
.view--seasons--block_1 {
  display: grid;
  width: 100%;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;

  .views-row>div {
    height: 100%;

    .c-season-list {
      height: 100%;
    }
  }

}

.view--grid2 {
  @include grid(2);
}
.view--grid3 {
  @include grid(3);
}
