$el: '.c-news-teaser';
#{$el} {
  margin-bottom: 25px;

  &__inner {
    display: flex;
  }

  &__media {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__gutter {
    font-size: .7rem;
    color: $text-secondary-info;
    margin-bottom: 5px;
  }
  &__title {
    h2 {
      font-size: 1.3rem;
      line-height: 1.1;
    }
  }

  &__text {
    line-height: 1.3;
  }

  &__content {
    padding-top: 30px;
    padding-left: 30px;
    flex-grow: 1;
    border-top: solid 1px $border-white-color;
  }
}
