$el: '.c-season-list';
#{$el} {
  max-width: 258px;
  display: block;
  border: solid 1px $border-white-color;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  @include shadow-box();

  &__media {
    overflow: hidden;
  }

  @include zoom-image();

  &__title {
    h2 {
      font-size: 1.2rem;
      line-height: 1.1;
      color: $default-color;
    }
  }

  &__content {
    padding: 20px;
    color: $text-secondary-info;
    font-size: 0.95rem;
  }

  &:hover {
    text-decoration: none;

    #{$el}__title h2 {
      color: theme-color('primary');
    }
  }
}
