$el: '.c-episode-full';
#{$el} {
  &__media {
    img {
      width: 100%;
      height: auto;
    }
  }
  &__info {
    &__label {
      text-transform: uppercase;
      color: $text-secondary-info;
      letter-spacing: 1px;
    }

    &:last-child {
      grid-column: span 2;
    }
  }

  &__synopsis {
    &__label {
      text-transform: uppercase;
      color: $text-secondary-info;
      letter-spacing: 1px;
      margin-bottom: 15px;
    }
    margin-bottom: 45px;
  }

  &__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-top: 25px;
    margin-bottom: 45px;
  }

  &__affiliates {
    margin-bottom: 25px;

    &__links {
      &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
    }

    .button--icon {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
}
