.block--field-blocktaxonomy-termsaisonfield-affiliates-links {
  &>div {
    display: flex;
    flex-wrap: wrap;

    .a-affiliate-button {
      margin-right: 15px;
    }
  }
}

.site-sidebar {
  div[class*="block-type--"] {
    margin-bottom: $sidebar-block-spacing;
  }
}
