$background-dark: #1e262c;
$text-dark-color: rgba(255, 255, 255, 0.7);
$text-copyright-color: rgba(255, 255, 255, 0.5);
$border-dark: rgba(255, 255, 255, 0.15);
$text-light: rgba(255, 255, 255, 0.95);

$text-secondary-info: #777;
$border-white-color: #ddd;
$white: #FFF;
$default-color: #333333;
$grey-background: #e5e7e9;
