@mixin heading() {
  font-family: $font-title;
  margin-bottom: .7rem;
}

@mixin h1() {
  @include heading();
  margin-bottom: 1.4rem;
}

@mixin h2() {
  @include heading();
  font-weight: $font-weight-bold;
  font-size: 1.8rem;
}

@mixin h3() {
  @include heading();
  font-weight: $font-weight-bold;
  font-size: 1.5rem;
}

@mixin h4() {
  @include heading();
  font-weight: $font-weight-bold;
  font-size: 1.2rem;
}

/** Override function for buttons **/
@mixin button ($outline: false, $color: theme-color('primary'), $uppercase: false) {
  display: inline-block;
  @include button-size(.375rem, 1.25rem, 16px, 1.5, 0);
  border-style: solid;
  border-width: 1px;

  @if ($uppercase) {
    text-transform: uppercase;
  }

  @if ($outline) {
    @include button-outline-variant($color, color-yiq($color), $color, $color)
  }
  @else {
    @include button-variant(
      $color,
      $color,
      darken($color, 7.5%),
      darken($color, 10%),
      darken($color, 10%),
      darken($color, 12.5%)
    );
  }

  &:hover {
    text-decoration: none;
  }
}

@mixin zoom-image() {

  img {
    transform-origin: 50% 50%;
    transition: transform .25s, visibility .25s ease-in;
  }

  &:hover {
    text-decoration: none;
    color: $default-color;

    img {
      transform: scale(1.2);
    }
  }
}

@mixin shadow-box {
  box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.10);
}


@mixin grid($columns: 2, $row-gap: 20px, $column-gap: 20px, $breakpoint: $medium-screen) {
  display: grid;
  grid-row-gap: $row-gap;
  grid-column-gap: $column-gap;

  @if ($columns == 2) {
    grid-template-columns: 1fr 1fr;
  }
  @if ($columns == 3) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: #{$medium-screen}) {
    grid-template-columns: 1fr;
  }
}

@mixin max-width($width) {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
}

@mixin form-focus() {
  border: solid 1px theme-color('primary');
}

@mixin has-float-label {
  // taken from https://github.com/tonystar/bootstrap-float-label/blob/master/bootstrap-float-label.css
  display: block;
  position: relative;

  label, & > span {
    background: white;
    position: absolute;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
    top: -.5em;
    left: 0.75rem;
    z-index: 3;
    line-height: 1;
    padding: 0 2px;
  }

  .form-control {

    &::placeholder {
      opacity: 0;
      transition: all .2s;
    }

    &:placeholder-shown:not(:focus) + * {
      font-size: 100%;
      color: $input-placeholder-color;
      transform: translateY(-50%);
      top: 50%;
    }
  }

}
